'.source.css':
  'Contao Mod Lost Password':
    'prefix': 'mod_lostPassword'
    'body': """
      .mod_lostPassword {
        ${1}
      }
    """

'.source.less, .source.scss':
  'Contao Mod Lost Password':
    'prefix': 'mod_lostPassword'
    'body': """
      .mod_lostPassword {
        ${1}
      }
    """

'.source.sass, .source.styl':
  'Contao Mod Lost Password':
    'prefix': 'mod_lostPassword'
    'body': """
      .mod_lostPassword
        ${1}
    """
