'.source.css':
  'Contao Mod Newsmenu':
    'prefix': 'mod_newsmenu'
    'body': """
      .mod_newsmenu {
        ${1}
      }

      .mod_newsmenu ul {
        ${2}
      }

      .mod_newsmenu li {
        ${3}
      }

      .mod_newsmenu a {
        ${4}
      }
    """

'.source.less, .source.scss':
  'Contao Mod Newsmenu':
    'prefix': 'mod_newsmenu'
    'body': """
      .mod_newsmenu {
        ${1}
        ul {
          ${2}
        }

        li {
          ${3}
        }

        a {
          ${4}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Mod Newsmenu':
    'prefix': 'mod_newsmenu'
    'body': """
      .mod_newsmenu
        ${1}
        ul
          ${2}
        li
          ${3}
        a
          ${4}
    """
