'.source.css':
  'Contao Mod Sitemap':
    'prefix': 'mod_sitemap'
    'body': """
      .mod_sitemap {
        ${1}
      }

      .mod_sitemap ul {
        ${2}
      }

      .mod_sitemap li {
        ${3}
      }

      .mod_sitemap li.first {
        ${4}
      }

      .mod_sitemap li.last {
        ${5}
      }

      .mod_sitemap a {
        ${6}
      }

      .mod_sitemap a.active {
        ${7}
      }

      .mod_sitemap a.forward {
        ${8}
      }

      .mod_sitemap a.trail {
        ${9}
      }

      .mod_sitemap span {
        ${10}
      }

      .mod_sitemap .submenu {
        ${11}
      }

      .mod_sitemap .sibling {
        ${12}
      }

      .mod_sitemap .level_1 {
        ${13}
      }

      .mod_sitemap .level_2 {
        ${14}
      }

      .mod_sitemap .level_3 {
        ${15}
      }
    """

'.source.less, .source.scss':
  'Contao Mod Sitemap':
    'prefix': 'mod_sitemap'
    'body': """
      .mod_sitemap {
        ${1}
        ul {
          ${2}
        }

        li {
          ${3}
          &.first {
            ${4}
          }

          &.last {
            ${5}
          }

        }

        a {
          ${6}

          &.active {
            ${7}
          }

          &.forward {
            ${8}
          }

          &.trail {
            ${9}
          }

        }

        span {
          ${10}
        }

        .submenu {
          ${11}
        }

        .sibling {
          ${12}
        }

        .level_1 {
          ${13}
        }

        .level_2 {
          ${14}
        }

        .level_3 {
          ${15}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Mod Sitemap':
    'prefix': 'mod_sitemap'
    'body': """
      .mod_sitemap
        ${1}
        ul
          ${2}
        li
          ${3}
          &.first
            ${4}
          &.last
            ${5}
        a
          ${6}
          &.active
            ${7}
          &.forward
            ${8}
          &.trail
            ${9}
        span
          ${10}
        .submenu
          ${11}
        .sibling
          ${12}
        .level_1
          ${13}
        .level_2
          ${14}
        .level_3
          ${15}
    """
