'.source.css':
  'Contao Layout Footer':
    'prefix': 'layout_footer'
    'body': """
      #footer {
        ${1}
      }

      #footer .inside {
        ${2}
      }
    """

'.source.less, .source.scss':
  'Contao Layout Footer':
    'prefix': 'layout_footer'
    'body': """
      #footer {
        ${1}
        .inside {
          ${2}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Layout Footer':
    'prefix': 'layout_footer'
    'body': """
      #footer
        ${1}
        .inside
          ${2}
    """
