'.source.css':
  'Contao Mod Random Image':
    'prefix': 'mod_randomImage'
    'body': """
      .mod_randomImage {
        ${1}
      }
    """

'.source.less, .source.scss':
  'Contao Mod Random Image':
    'prefix': 'mod_randomImage'
    'body': """
      .mod_randomImage {
        ${1}
      }
    """

'.source.sass, .source.styl':
  'Contao Mod Random Image':
    'prefix': 'mod_randomImage'
    'body': """
      .mod_randomImage
        ${1}
    """
