'.source.css':
  'Contao Mod Article List':
    'prefix': 'mod_articleList'
    'body': """
      .mod_articleList {
        ${1}
      }

      .mod_articleList ul {
        ${2}
      }

      .mod_articleList li {
        ${3}
      }

      .mod_articleList a {
        ${4}
      }
    """

'.source.less, .source.scss':
  'Contao Mod Article List':
    'prefix': 'mod_articleList'
    'body': """
      .mod_articleList {
        ${1}
        ul {
          ${2}
        }

        li {
          ${3}
        }

        a {
          ${4}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Mod Article List':
    'prefix': 'mod_articleList'
    'body': """
      .mod_articleList
        ${1}
        ul
          ${2}
        li
          ${3}
        a
          ${4}
    """
