'.source.css':
  'Contao Mod FAQ Reader':
    'prefix': 'mod_faqreader'
    'body': """
      .mod_faqreader {
        ${1}
      }

      .mod_faqreader .enclosure {
        ${2}
      }

      .mod_faqreader .size {
        ${3}
      }

      .mod_faqreader .info {
        ${4}
      }
    """

'.source.less, .source.scss':
  'Contao Mod FAQ Reader':
    'prefix': 'mod_faqreader'
    'body': """
      .mod_faqreader {
        ${1}
        .enclosure {
          ${2}
        }

        .size {
          ${3}
        }

        .info {
          ${4}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Mod FAQ Reader':
    'prefix': 'mod_faqreader'
    'body': """
      .mod_faqreader
        ${1}
        .enclosure
          ${2}
        .size
          ${3}
        .info
          ${4}
    """
