'.source.css':
  'Contao PDF Link':
    'prefix': 'pdf_link'
    'body': """
      .pdf_link {
        ${1}
      }

      .pdf_link a {
        ${2}
      }
    """

'.source.less, .source.scss':
  'Contao PDF Link':
    'prefix': 'pdf_link'
    'body': """
      .pdf_link {
        ${1}
        a {
          ${2}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao PDF Link':
    'prefix': 'pdf_link'
    'body': """
      .pdf_link
        ${1}
        a
          ${2}
    """
