'.source.css':
  'Contao Button':
    'prefix': 'button'
    'body': """
      .back {
        ${1}
      }

      .back a {
        ${2}
      }

      .more {
        ${3}
      }

      .more a {
        ${4}
      }
    """

'.source.less, .source.scss':
  'Contao Button':
    'prefix': 'button'
    'body': """
      .back {
        ${1}
        a {
          ${2}
        }

      }

      .more {
        ${3}
        a {
          ${4}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Button':
    'prefix': 'button'
    'body': """
      .back
        ${1}
        a
          ${2}
      .more
        ${3}
        a
          ${4}
    """
