'.source.css':
  'Contao Mod Eventreader':
    'prefix': 'mod_eventreader'
    'body': """
      .mod_eventreader {
        ${1}
      }

      .mod_eventreader .event {
        ${2}
      }

      .mod_eventreader .layout_full {
        ${3}
      }

      .mod_eventreader .layout_list {
        ${4}
      }

      .mod_eventreader .layout_teaser {
        ${5}
      }

      .mod_eventreader .layout_upcoming {
        ${6}
      }

      .mod_eventreader .header {
        ${7}
      }

      .mod_eventreader .time {
        ${8}
      }

      .mod_eventreader .day {
        ${9}
      }

      .mod_eventreader .location {
        ${10}
      }
    """

'.source.less, .source.scss':
  'Contao Mod Eventreader':
    'prefix': 'mod_eventreader'
    'body': """
      .mod_eventreader {
        ${1}
        .event {
          ${2}
        }

        .layout_full {
          ${3}
        }

        .layout_list {
          ${4}
        }

        .layout_teaser {
          ${5}
        }

        .layout_upcoming {
          ${6}
        }

        .header {
          ${7}
        }

        .time {
          ${8}
        }

        .day {
          ${9}
        }

        .location {
          ${10}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Mod Eventreader':
    'prefix': 'mod_eventreader'
    'body': """
      .mod_eventreader
        ${1}
        .event
          ${2}
        .layout_full
          ${3}
        .layout_list
          ${4}
        .layout_teaser
          ${5}
        .layout_upcoming
          ${6}
        .header
          ${7}
        .time
          ${8}
        .day
          ${9}
        .location
          ${10}
    """
