'.source.css':
  'Contao CE Download':
    'prefix': 'ce_download'
    'body': """
      .ce_download {
        ${1}
      }

      .ce_download a {
        ${2}
      }

      .ce_download .mime_icon {
        ${3}
      }

      .ce_download .size {
        ${4}
      }
    """

'.source.less, .source.scss':
  'Contao CE Download':
    'prefix': 'ce_download'
    'body': """
      .ce_download {
        ${1}
        a {
          ${2}
        }

        .mime_icon {
          ${3}
        }

        .size {
          ${4}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao CE Download':
    'prefix': 'ce_download'
    'body': """
      .ce_download
        ${1}
        a
        ${2}
        .mime_icon
          ${3}
        .size
          ${4}
    """
