'.source.css':
  'Contao Mod Quicknav':
    'prefix': 'mod_quicknav'
    'body': """
      .mod_quicknav {
        ${1}
      }

      .mod_quicknav .formbody {
        ${2}
      }

      .mod_quicknav .select {
        ${3}
      }

      .mod_quicknav .submit {
        ${4}
      }
    """

'.source.less, .source.scss':
  'Contao Mod Quicknav':
    'prefix': 'mod_quicknav'
    'body': """
      .mod_quicknav {
        ${1}
        .formbody {
          ${2}
        }

        .select {
          ${3}
        }

        .submit {
          ${4}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Mod Quicknav':
    'prefix': 'mod_quicknav'
    'body': """
      .mod_quicknav
        ${1}
        .formbody
          ${2}
        .select
          ${3}
        .submit
          ${4}
    """
