'.source.css':
  'Contao Layout Main':
    'prefix': 'layout_main'
    'body': """
      #main {
        ${1}
      }

      #main .inside {
        ${2}
      }
    """

'.source.less, .source.scss':
  'Contao Layout Main':
    'prefix': 'layout_main'
    'body': """
      #main {
        ${1}
        .inside {
          ${2}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Layout Main':
    'prefix': 'layout_main'
    'body': """
      #main
        ${1}
        .inside
          ${2}
    """
