'.source.css':
  'Contao Mod Listing':
    'prefix': 'mod_listing'
    'body': """
      .mod_listing {
        ${1}
      }

      .mod_listing .list_search {
        ${2}
      }

      .mod_listing .list_per_page {
        ${3}
      }

      .mod_listing .all_records {
        ${4}
      }
    """

'.source.less, .source.scss':
  'Contao Mod Listing':
    'prefix': 'mod_listing'
    'body': """
      .mod_listing {
        ${1}
        .list_search {
          ${2}
        }

        .list_per_page {
          ${3}
        }

        .all_records {
          ${4}
        }

      }
    """

'.source.sass, .source.styl':
  'Contao Mod Listing':
    'prefix': 'mod_listing'
    'body': """
      .mod_listing
        ${1}
        .list_search
          ${2}
        .list_per_page
          ${3}
        .all_records
          ${4}
    """
